.search__form {
  display: flex;
  flex-direction: column;
}

.search__form-container {
  display: flex;
  flex-direction: row;
  max-width: 608px;
  max-height: 64px;
  height: 64px;
  border-radius: 100px;
  border: 0px solid #d1d2d6;
  background-color: white;
  color: #000;
  justify-content: center;
}

.search__form-input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  width: 376px;
  height: 22px;
  align-self: center;
  overflow: scroll;
  padding: 0;
  margin-left: 20px;
  border: none;
  outline: none;
}

.search__form-input::placeholder {
  color: #b6bcbf;
}

.search__form-button {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.15;
  max-width: 168px;
  padding: 17.5px 59px;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid #2f71e5;
  background-color: #2f71e5;
  color: #fff;
  transition: 0s linear 0.2s, background-color 0.2s linear;
}

.search__form-error {
  visibility: visible;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 3px;
  align-self: center;
}

.search__form-error-inactive {
  visibility: hidden;
}

.search__form-button:hover {
  background-color: #347eff;
}

.search__form-button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .search__form-container {
    max-width: 452px;
    max-height: 55px;
  }

  .search__form-input {
    width: 215px;
  }

  .search__form-button {
    max-width: 150px;
    margin-left: 0px;
    padding: 16px 50px;
  }
}

@media screen and (max-width: 425px) {
  .search__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
  }

  .search__form-container {
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 16px 0 16px;
    max-width: 370px;
    width: auto;
  }

  .search__form-input {
    width: 85%;
    padding-top: 16px;
    margin-top: 1px;
    margin-left: 0;
  }

  .search__form-button {
    max-width: 375px;
    width: 100%;
  }
}

@media screen and (max-width: 250px) {
  .search__form {
    gap: 60px;
  }
  .search__form-container {
    max-width: 170px;
    max-height: 55px;
  }
  .search__form-error {
    font-size: 0.8rem;
  }

  .search__form-input {
    padding-top: 13px;
    margin-top: 3px;
    border-radius: 10px;
    font-size: 0.875rem;
  }

  .search__form-button {
    max-width: 170px;
    margin-left: 0px;
    padding: 16px 40px;
    font-size: 1rem;
  }
}
