@font-face {
  font-family: "Roboto Slab";
  src: url("../../../public/vendor/fonts/roboto-slab-400-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/vendor/fonts/roboto-400-regular.woff") format("woff");
}

.header {
  background-image: url("../../images/backgroundImage.svg");
  background-size: cover;
  background-position: center;
  height: 576px;
  width: 100%;
  color: white;
}

.header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 608px;
}

.header__title {
  font-size: 3.75rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  padding: 80px 0 32px 0;
}

.header__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 56px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 400px;
  }

  .header__container {
    max-width: 385px;
  }

  .header__title {
    font-size: 2.25rem;
    padding: 38px 0 16px 0;
  }

  .header__subtitle {
    margin-bottom: 48px;
  }
}
