.header {
  background-image: url("../../images/backgroundImage.png");
  background-size: cover;
  background-position: center;
  height: 576px;
  width: 100%;
  color: white;
}

.header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 608px;
}

.header__title {
  font-size: 3.75rem;
  font-family: "Roboto Slab 400", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  padding: 80px 0 32px 0;
  margin: 0;
}

.header__subtitle {
  font-family: "Roboto 400", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 56px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 400px;
  }

  .header__container {
    max-width: 385px;
  }

  .header__title {
    font-size: 2.25rem;
    padding: 38px 0 16px 0;
  }

  .header__subtitle {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    max-height: 576px;
  }

  .header__container {
    max-width: 385px;
    margin: 0 auto;
  }

  .header__title {
    font-size: 2.25rem;
    font-family: "Roboto Slab", sans-serif;
    padding: 30px 0 32px 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .header__subtitle {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    height: 485px;
  }
}

@media screen and (max-width: 325px) {
  .header {
    height: 530px;
  }
}

@media screen and (max-width: 250px) {
  .header {
    height: 530px;
  }
  .header__title {
    padding: 25px 0 28px 0;
  }
}
