.loading__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f6f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

.loading__spinner {
  width: 74px;
  height: 74px;
  background-image: url(../../images/loading-spinner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: spin-anim 1.2s linear infinite;
}

.loading__text {
  max-width: 356px;
  color: #b6bcbf;
  text-align: center;
  font-family: "Roboto 500", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33;
  padding-top: 31px;
}

@keyframes spin-anim {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  .loading__container {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 425px) {
  .loading__container {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 295px) {
  .loading__container {
    padding-bottom: 40px;
  }
  .loading__spinner {
    width: 68px;
    height: 68px;
  }
  .loading__text {
    font-size: 1rem;
  }
}
