@font-face {
  font-family: "Roboto";
  src: url("../../../public/vendor/fonts/roboto-400-regular.woff") format("woff");
}

* {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(10% - 40px);
  margin-right: calc(10% - 40px);
  padding-top: 32px;
  padding-bottom: 26px;
}

.footer__copyright {
  color: #b6bcbf;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375;
  max-width: 433px;
}

.footer__nav {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.footer__links {
  display: flex;
  gap: 35px;
}

.footer__button {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.33;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all ease 380ms;
  padding: 0;
}

.footer__button:hover {
  opacity: 0.7;
}

.footer__icons {
  display: flex;
  gap: 22px;
  align-items: center;
}

.footer__link-icon-github {
  width: 24px;
  height: 24px;
  background-image: url(../../images/github.svg);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.footer__link-icon-linkedin {
  width: 24px;
  height: 24px;
  background-image: url(../../images/linkedin2.svg);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer__link-icon:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 18px;
  }
  .footer__copyright {
    font-size: 1rem;
    max-width: 300px;
  }
  .footer__button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column-reverse;
    gap: 38px;
    padding: 22px 0 22px 0;
    margin-left: 16px;
    margin-right: 16px;
  }
  .footer__nav {
    width: 100%;
    justify-content: space-between;
  }
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__icons {
    align-items: start;
    gap: 20px;
  }
}

@media screen and (max-width: 295px) {
  .footer__copyright {
    font-size: 0.875rem;
    max-width: 300px;
  }
  .footer__button {
    font-size: 0.875rem;
  }
  .footer__link-icon-linkedin {
    width: 20px;
    height: 20px;
  }
  .footer__link-icon-github {
    width: 20px;
    height: 20px;
  }
}
