.newscardlist__section {
  background-color: rgba(245, 246, 247, 1);
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  margin: 0 auto;
}

.newscardlist__title {
  align-self: baseline;
  font-family: "Roboto Slab 400";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  padding-top: 80px;
  padding-bottom: 64px;
  padding-left: calc(10% - 40px);
  padding-right: calc(10% - 40px);
}

.newscardlist__container {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 64px;
}

.newscardlist__button {
  border-radius: 80px;
  background: #fff;
  width: 288px;
  height: 64px;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #1a1b22;
  text-align: center;
  font-family: "Roboto 500", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33;
  margin: 0 auto 80px auto;
  transition: 0s linear 0.2s, opacity 0.2s linear;
}

.newscardlist__button:hover {
  opacity: 0.9;
  background: #e8e8e8;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .newscardlist__title {
    font-size: 1.875rem;
    padding-top: 40px;
    padding-bottom: 32px;
  }

  .newscardlist__container {
    max-width: 800px;
    gap: 8px;
    padding-bottom: 32px;
  }

  .newscardlist__button {
    width: 240px;
    height: 56px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .newscardlist__title {
    padding-bottom: 58px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .newscardlist__button {
    margin-bottom: 24px;
  }

  .newscardlist__container {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 325px) {
  .newscardlist__container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 295px) {
  .newscardlist__title {
    font-size: 1.5rem;
    padding-bottom: 40px;
  }
  .newscardlist__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .newscardlist__button {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 250px;
    max-width: 250px;
  }
}

@media screen and (max-width: 250px) {
  .newscardlist__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .newscardlist__button {
    font-size: 0.875rem;
    margin-bottom: 18px;
    width: 190px;
    max-width: 190px;
  }
}
