@font-face {
  font-family: "Roboto Slab";
  src: url("../../../public/vendor/fonts/roboto-slab-400-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/vendor/fonts/roboto-400-regular.woff") format("woff");
}

.newscard__bookmark-section {
  position: absolute;
  right: 32px;
  top: 32px;
  display: flex;
  gap: 5px;
  max-height: 40px;
}

.newscard__bookmark-button {
  background: no-repeat url("../../images/bookmark-button-normal.svg") #fff;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.newscard__bookmark-additional {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  max-height: 40px;
  background-color: #fff;
  max-width: 175px;
  text-align: center;
  padding: 13px 15px;
  border-radius: 8px;
}

.newscard__bookmark-button:hover {
  background: no-repeat url("../../images/bookmark-button-hover.svg") #fff;
}

.newscard__remove-button {
  background: no-repeat url("../../images/delete-button-normal.svg") #fff;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.newscard__remove-button:hover {
  background: no-repeat url("../../images/delete-button-hover.svg") #fff;
}

.newscard__container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.newscard__image {
  height: 272px;
  border-radius: 25px 25px 0 0;
}

.newscard__info-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  padding: 24px;
  border-radius: 0 0 25px 25px;
  gap: 10px;
}

.newscard__info-date {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
  color: rgba(182, 188, 191, 1);
  max-width: 352px;
  overflow: hidden;
}

.newscard__info-title {
  font-size: 1.625rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(26, 27, 34, 1);
  max-width: 352px;
  overflow: hidden;
}

.newscard__info-text {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.375;
  color: rgba(26, 27, 34, 1);
  max-width: 352px;
  overflow: hidden;
}

.newscard__info-publisher {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  color: rgba(182, 188, 191, 1);
  max-width: 352px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .newscard__bookmark-section {
    right: 8px;
    top: 8px;
    gap: 3px;
  }

  .newscard__container {
    max-width: 224px;
  }

  .newscard__info-container {
    max-height: 420px;
    padding: 16px;
  }

  .newscard__info-date {
    font-size: 1rem;
  }

  .newscard__image {
    height: 150px;
  }

  .newscard__info-title {
    max-width: 192px;
    font-size: 1.375rem;
  }

  .newscard__info-text {
    max-width: 192px;
    max-height: 88px;
    line-height: 1.33;
    height: 88px;
    overflow: hidden;
  }

  .newscard__info-publisher {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 425px) {
  .newscard__container {
    max-width: 323px;
  }

  .newscard__image {
    height: 196px;
    width: 293px;
  }

  .newscard__info-container {
    max-height: 440px;
    max-width: 261px;
  }

  .newscard__info-title {
    max-width: 261.5px;
  }

  .newscard__info-text {
    max-width: 261.5px;
  }
}
