.form__label {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.form__label:last-of-type {
  padding-top: 31px;
}

.form__input-text {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 0.875rem;
  height: 15px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
